In [11]:
import os 
import yfinance as yf
import pandas as pd

ticker = "NVDA"

In [6]:
t = yf.Ticker(ticker)
data = t.history(period="1y")

In [ ]:
df = data

In [ ]:
df['date'] = df.index
df.reset_index(inplace=True,drop=True)

In [12]:
df['date'] = pd.to_datetime(df['date'])

In [19]:
df['date'] = df['date'].dt.strftime('%Y-%m-%d')

In [20]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,date
0,124.540657,127.669665,122.711233,123.500984,315516700,0.0,0.0,2024-06-28
1,123.431010,124.800573,118.792476,124.260750,284885500,0.0,0.0,2024-07-01
2,121.091749,123.371036,120.991782,122.631264,218374000,0.0,0.0,2024-07-02
3,121.621582,128.239487,121.321674,128.239487,215749000,0.0,0.0,2024-07-03
4,127.339774,128.809319,125.640314,125.790268,214176700,0.0,0.0,2024-07-05